@page "/"
@inherits IndexModel

<h1>Top Heroes</h1>
<br />
<br />
<div class="row">
    @if (Heroes == null)
    {
        <div class="col-md-12">Loading heroes...</div>
    }
    else
    {
        foreach (var item in Heroes)
        {
            <div class="col-md-3">
                <div class="card bg-light mb-3 text-center">
                    <div class="card-body">
                        <p>
                            <a href="/heroes/detail/@item.Id">
                                <h3><span class="oi oi-person"></span>  @item.Name</h3>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<br />
<br />
<h1>Search Heroes</h1>
<div class="row">
    <div class="col-md-4">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="hero-search">
                    <span class="oi oi-magnifying-glass"></span>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Hero" aria-label="Hero Search" aria-describedby="hero-search" bind="@SearchCriteria" />
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-lg btn-primary" onclick="@SearchHeroes">Search</button>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-6">

        @if (SearchResults != null)
        {
            <ul class="list-group">
                @foreach (var item in SearchResults)
                {
                    <li class="list-group-item">
                        <a href="/heroes/detail/@item.Id">
                            <h4><span class="oi oi-person"></span> @item.Name </h4>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
